
/* mod_lticontainer styles (scoped for Moodle 5 / Boost) */

/* 余白調整：lticontainer 画面内だけに限定 */
body.path-mod-lticontainer .py-3 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}


/************************************/
/* Tables */

/* table 全体の下マージン（lticontainer 画面内のみ） */
body.path-mod-lticontainer table {
    margin-bottom: 0.3em;
}

/*
 * 枠線のないテーブルにしたい場合は，HTML 側で <table class="... noborder"> を付ける．
 * 例）<table class="noborder">
 * 例）<table class="generalbox noborder">
 */
body.path-mod-lticontainer table.noborder,
body.path-mod-lticontainer table.noborder tr,
body.path-mod-lticontainer table.noborder td,
body.path-mod-lticontainer table.noborder th,
/*body.path-mod-lticontainer table.noborder thead,*/
body.path-mod-lticontainer table.noborder tbody {
    border-style: none !important;
}

/*
body.path-mod-lticontainer table.noborder tbody tr:nth-child(odd) {
    background: rgba(0,0,0,.03);
}
body.path-mod-lticontainer table.noborder tbody tr:nth-child(even) {
    background: transparent;
}
*/


/* セルの padding（lticontainer 画面内のみ） */
body.path-mod-lticontainer td {
    padding: 0.3em;
}


/************************************/
/* print_tabs() */

/* 外枠なしで中央寄せ（Flex 方式） */
body.path-mod-lticontainer .ltictr-tabs-center {
    display: flex;
    justify-content: center;
    margin-bottom: 0.0em;
}


/************************************/
/* Tabs */

body.path-mod-lticontainer .tabtree .tabrow0 li {
    margin-right: 0px;
}


/************************************/
/* Headings */

body.path-mod-lticontainer h2,
body.path-mod-lticontainer .h2 {
    font-size: 1.4rem !important;
}

body.path-mod-lticontainer h3,
body.path-mod-lticontainer .h3 {
    font-size: 1.2rem !important;
}

body.path-mod-lticontainer h4,
body.path-mod-lticontainer .h4 {
    font-size: 1.0rem !important;
}


/************************************/
/* Custom table row/cell classes */

body.path-mod-lticontainer .head {
    font-weight: bold;
    color: #105ba7;
    background-color: #ddd;
}

body.path-mod-lticontainer .odd {
    font-weight: bold;
    background-color: #eee;
}

body.path-mod-lticontainer .even {
    font-weight: bold;
    background-color: #eee;
}

